.brand{
    width: 100%;
    padding: 55px 82px;
    border-radius: 25px;
    background: rgba(44, 53, 61, 0.2);

    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
}
.brand-backround{
    position: absolute;
    left: 0;
    top: 0;
}
.brands h3{
    text-align: center;
    margin-bottom: 60px;
}
.brands__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
