.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.header img{
    cursor: pointer;
    transition: .3s;
}
.header img:hover{
    opacity: 70%;
}

.nav{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav li a{
    text-decoration: none;
    color: var(--second-color);
    font-weight: 500;

    transition: .3s;
}
.header a:hover{
    color: var(--text-color);
}

.autorisation{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.autorisation a{
    text-decoration: none;
    color: var(--second-color);
    font-weight: 600;
    transition: .3s;
}
#signUp{
    width: 60%;
}