:root{
    --text-color: #ffffff;
    --elem-color: #FF6E30;
    --second-color: rgba(255, 255, 255, 0.55);
}

body{
    background-color: #1E252B;
    font-family: 'Poppins', sans-serif;
    color: var(--second-color);
    font-size: 16px;
    font-weight: 400;
}

h1{
    font-size: 50px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 140%;
}
h2{
    font-size: 48px;
    color: var(--text-color);
    font-weight: 500;
}
h3{
    font-size: 24px;
    color: var(--text-color);
    font-weight: 500;
}
p{
    font-size: 18px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 167%;
}
span{
    font-size: 14px;
}
.grid{
    max-width: 1224px;
    margin: auto;
}

ul li{
    list-style: none;
}